@import 'https://fonts.googleapis.com/css?family=Lalezar';
@import 'https://fonts.googleapis.com/css?family=Open+Sans';

body {
    background-color: #fafafa;
    color: #00384D;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lalezar";
}

p {
    font-family: "Open Sans";
}

.navbar {
    background-color: #ffffff;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
}


.picture {
    max-width: 250px;
    max-height: 250px;
}


.picture img {
    border-radius: 20%;
    object-fit: cover;
    width: 250px;
    height: 250px;
    box-shadow: 0px 0px 3px 1.5px rgba(0, 0, 0, 0.5); /* horizontal offset, vertical offset, blur radius, spread radius, color */
}

.document {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.filters {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin: 20px;
}

.lecturer-card {
    background-color: #ffffff;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
}

.lecturer-card:hover {
    box-shadow: 0px 0px 10px 1.5px rgba(0, 0, 0, 0.5); /* horizontal offset, vertical offset, blur radius, spread radius, color */
}


/* Desktop mode */
@media only screen and (min-width: 1000px) {
    .lecturer-card {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .lecturer-card .info {
        margin-left: 20px;
    }
}
