@import 'https://fonts.googleapis.com/css?family=Lalezar';
@import 'https://fonts.googleapis.com/css?family=Open+Sans';

body {
    background-color: #333333;
    color: #ffffff;
    margin: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lalezar";
}

p {
    font-family: "Open Sans";
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 100px;
}

.document {
    display: grid;
    grid-template-rows: 1fr 100fr;
    height: 100vh;
}

.claim {
    font-size: 1.2em;
    font-weight: bold;
}

.price {
    font-size: 1.5em;
    font-weight: bold;
}

.bio {
    margin-bottom: 100px;
}

.picture {
    text-align: center;
}

.picture img {
    border-radius: 20%;
    height: 300px;
    width: 300px;
}

.city {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.phone {
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
}

.email {
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
}

.contacts {
    background-color: #00384D;
    border-top-right-radius: 10%;
}

.logo {
    width: 70.3px;
    height: 46.6px;
    margin: 10px;
}
