@import 'https://fonts.googleapis.com/css?family=Lalezar';
@import 'https://fonts.googleapis.com/css?family=Open+Sans';

body {
    background-color: #333333;
    color: #ffffff;
    margin: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lalezar";
}

p {
    font-family: "Open Sans";
}

.grid-container {
    display: grid;
    grid-template-rows: auto 1fr;
}

.document {
    display: grid;
    grid-template-rows: 97px auto;
    height: 100vh;
}

.claim {
    font-size: 1.2em;
    font-weight: bold;
}

.price {
    font-size: 1.5em;
    font-weight: bold;
}

.bio {
    margin-bottom: 100px;
}

.picture {
    text-align: center;
}

.picture img {
    border-radius: 20%;
    max-width: 100%;
    height: auto;
}

.city {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.phone {
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
}

.email {
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
}

.contacts {
    background-color: #00384D;
    border-top-right-radius: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 20px;
    padding-right: 20px;
}

.content {
    margin-left: 20px;
    margin-right: 20px;
}


@media only screen and (min-width: 1000px) {
    .grid-container {
        grid-template-columns: 500px 1fr;
        grid-template-rows: 1fr;
    }

    .contacts {
        display: inline;
    }

    .content {
        margin-left: 50px;
        margin-right: 50px;
    }
}
