@import 'https://fonts.googleapis.com/css?family=Lalezar';
@import 'https://fonts.googleapis.com/css?family=Open+Sans';

body {
    background-color: #FFFFFF;
    color: #333333;
    margin: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lalezar";
}

p {
    font-family: "Open Sans";
}

.document {
    display: grid;
    grid-template-rows: 98px auto;
    height: 100vh;
}

.grid-container {
    display: grid;
    grid-template-rows: auto 1fr;
}

/* Content */
.content {
    display: grid;
    margin-left: 20px;
    margin-right: 20px;
}

.claim {
    font-size: 1.2em;
    font-weight: bold;
}

.price-label {
    font-weight: bold;
    align-self: end;
}

.price {
    font-size: 1.5em;
    font-weight: bold;
}

.tags {
    align-self: end;
}

/* Contacts */
.contacts {
    background-color: #74C7D3;
    border-top-right-radius: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 20px;
    padding-right: 20px;
}

.picture {
    text-align: center;
}

.picture img {
    border-radius: 20%;
    max-width: 100%;
    height: auto;
    box-shadow: 0px 0px 3px 1.5px rgba(0, 0, 0, 0.5); /* horizontal offset, vertical offset, blur radius, spread radius, color */
}

.city {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.phone {
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
}

.email {
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
}



/* Desktop mode */
@media only screen and (min-width: 1000px) {
    .grid-container {
        grid-template-columns: 500px 1fr;
        grid-template-rows: 1fr;
    }

    .contacts {
        display: inline;
    }

    .content {
        margin-left: 50px;
        margin-right: 50px;
    }
}
