<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="icon" href="{{url_for('static', filename='favicon.svg')}}" type="image/svg+xml">
    <title>{{first_name}} {{last_name}}</title>
</head>
<body>
    <div class="document">
        <div class="navbar">
            <a href="/"><img class="logo" src="{{url_for('static', filename='logo.svg')}}" alt="logo"></a>
        </div>
        <div class="grid-container">
            <div class="contacts">
                <p class="picture"><img src="{{picture_url}}"></p>
                <div class="info">
                    <p class="city">{% if location %}{{location}}{% endif %}</p>
                    {% for phone in contact.telephone_numbers %}
                        <p class="phone">{{phone}}</p>
                    {% endfor %}
                    {% for email in contact.emails %}
                        <a href="mailto:{{email}}">
                            <p class="email">{{email}}</p>
                        </a>
                    {% endfor %}
                    
                    
                    <div style="text-align: center; margin-top: 15%;">
                        <button onclick="alert('ahoj')" style="font-size: 18px; padding: 7px;">Zarezervovat</button>
                    </div>
                </div>

            </div>
            <div class="content">
                <h1>
                    {% if title_before %}{{title_before}} {% endif %}
                    {{first_name}} 
                    {% if middle_name %}{{middle_name}} {% endif %}
                    {{last_name}} 
                    {% if title_after %}{{title_after}}{% endif %}
                </h1>
                <p class="claim">{% if claim %}{{claim}}{% endif %}</p>
                <p class="bio">{% if bio %}{{bio}}{% endif %}</p>
                <p class="price-label">{% if price_per_hour %}Cena za hodinu mojí lekce:{% endif %}</p>
                <p class="price">{% if price_per_hour %}{{price_per_hour}}{% endif %}</p>
                <p class="tags">
                    Tagy: 
                    {% for tag in tags %}
                        #{{tag.name}}
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
</body>
</html>