<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{url_for('static', filename='favicon.svg')}}" type="image/svg+xml">
    <title>Lektorská zóna</title>
</head>
<body>
    <h1>Vítejte v lektorské zóně</h1>

    <a href="/">Hlavní stránka</a>
    <label>|</label>
    <a href="/lecturer-logout">Odhlásit se</a>

    <hr>

    <h2 style="text-decoration: underline;">Dostupné hodiny:</h2>

    <div>
        <select id="hour">
            <option value="">Vyberte hodinu</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
        </select>
        <button onclick="enableHour()">Přidat</button>
        <button onclick="disableHour()">Odebrat</button>
        <button onclick="resetHour()">Smazat rezervaci</button>
        
        <script>
            function enableHour() {
                // Your code here...
            }
            
            function disableHour() {
                // Your code here...
            }
            
            function resetHour() {
                // Your code here...
            }
        </script>
    </div>

    <br>

    <div id="info"></div>

    <script>
        window.onload = function() {
            fetch('/api/reservation-admin/')
            .then(response => {
                if (response.status === 200) {
                    return response.json();
                } else {
                    document.getElementById('info').innerHTML = '[Chyba] Nepovedlo se načíst dostupné hodiny!';
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
            })
            .then(data => {
                let output = '';
                for (let key in data) {
                    output += `<p>Hodina: ${key}:00</p>`;
                    output += `<ul>`;
                    if (data[key].client_email) {
                    output += `<li>Email klienta: ${data[key].client_email}</li>`;
                    }
                    if (data[key].client_phone) {
                    output += `<li>Telefon klienta: ${data[key].client_phone}</li>`;
                    }
                    output += `<li>Rezervováno: ${data[key].reserved ? 'Ano' : 'Ne'}</li>`;
                    output += `</ul>`;
                    output += `<br>`;
                }
                document.getElementById('info').innerHTML = output;
            })
            .catch(error => console.error('Error:', error));
        };
        </script>

</body>
</html>