<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{url_for('static', filename='favicon.svg')}}" type="image/svg+xml">
    <title>Login - Lektorská zóna</title>
</head>
<body>
    <a href="/"><img class="logo" src="{{url_for('static', filename='logo.svg')}}" alt="logo"></a>

    <div style="text-align: center; padding-top: 20vh;">
        <form id="loginForm">
            <div style="margin-bottom: 10px;">
                <label for="username">Uživatelské jméno:</label><br>
                <input type="text" id="username" name="username" required><br>
            </div>

            <div style="margin-bottom: 10px;">
                <label for="password">Heslo:</label><br>
                <input type="password" id="password" name="password" required><br>
            </div>

            <div style="margin-bottom: 10px;">
                <input type="submit" value="Přihlásit se">
            </div>
        </form>
    </div>

    <script>
        document.getElementById('loginForm').addEventListener('submit', function(event) {
        event.preventDefault();

        var username = document.getElementById('username').value;
        var password = document.getElementById('password').value;

        fetch('/lecturer-login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                username: username,
                password: password,
            }),
            redirect: 'follow',
        })
        .then(response => {
            if (!response.ok) {
                alert("Špatné jméno nebo heslo")
                throw new Error(`HTTP error! status: ${response.status}`);
            }
            return response;
        })
        .then(data => {
            if (data.redirected) {
                window.location.href = data.url;
            }
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    });
    </script>
    
</body>
</html>