<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Lecturer</title>
</head>
<body>
    <div class="navbar">
        <img class="logo" src="{{url_for('static', filename='logo.png')}}" alt="logo">
    </div>
    <div class="grid-container">
        <div class="contacts">
            <p class="picture"><img src="https://tourdeapp.cz/storage/images/2023_02_25/412ff296a291f021bbb6de10e8d0b94863fa89308843b/big.png.webp"></p>
            <p class="city">Brno</p>
            <p class="phone">+420 722 482 974</p>
            <p class="email">placha@scg.cz</p>
            <p class="email">predseda@scg.cz</p>
        </div>
        <div class="content">
            <h1>Mgr. Petra Swil Plachá MBA</h1>
            <p class="claim">Aktivní studentka / Předsedkyně spolku / Projektová manažerka</p>
            <p class="bio">
                Baví mě organizovat věci. Ať už to bylo vyvíjení mobilních aplikací ve Futured, 
                pořádání konferencí, spolupráce na soutěžích Prezentiáda, pIšQworky, Tour de App a 
                Středoškolák roku, nebo třeba dobrovolnictví, vždycky jsem skončila u projektového 
                managementu, rozvíjení soft-skills a vzdělávání. U studentských projektů a akcí jsem 
                si vyzkoušela snad všechno od marketingu po logistiku a moc ráda to předám dál. 
                Momentálně studuji Pdf MUNI a FF MUNI v Brně.
            </p>
            <p>Cena za hodinu mojí lekce:</p>
            <p class="price">1200</p>
            <p class="tags">
                Tagy: #Dobrovolnictví #Studentské spolky #Efektivní učení #Prezentační dovednosti 
                #Marketing pro neziskové studentské projekty #Mimoškolní aktivity #Projektový management, 
                event management #Fundraising pro neziskové studentské projekty
            </p>
        </div>
    </div>
</body>
</html>