<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="icon" href="{{url_for('static', filename='favicon.svg')}}" type="image/svg+xml">
    <title>Lecturer</title>
</head>
<body>
    <div class="document">
        <div class="navbar">
            <img class="logo" src="{{url_for('static', filename='logo.png')}}" alt="logo">
        </div>
        <div class="grid-container">
            <div class="contacts">
                <p class="picture"><img src="{{picture_url}}"></p>
                <div class="info">
                    <p class="city">{{location}}</p>
                    {% for phone in contact.telephone_numbers %}
                        <p class="phone">{{phone}}</p>
                    {% endfor %}
                    {% for email in contact.emails %}
                        <p class="email">{{email}}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="content">
                <h1>
                    {% if title_before %}{{title_before}} {% endif %}
                    {{first_name}} 
                    {% if middle_name %}{{middle_name}} {% endif %}
                    {{last_name}} 
                    {% if title_after %}{{title_after}}{% endif %}</h1>
                <p class="claim">{{claim}}</p>
                <p class="bio">{{bio}}</p>
                <p class="price-label">Cena za hodinu mojí lekce:</p>
                <p class="price">{{price_per_hour}}</p>
                <p class="tags">
                    Tagy: 
                    {% for tag in tags %}
                        #{{tag.name}}
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
</body>
</html>